<form [formGroup]="CategoryForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add New category</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input
              formControlName="categoryname"
              matInput
              placeholder="categoryname"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6"></div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="saveForm()" mat-raised-button color="primary">
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>
