<!-- <p>dashboard works!</p>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sideNav class="sidenav" mode="side" opened>
    <app-side-bar></app-side-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button (click)="sideNav.toggle()" mat-flat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >menu</mat-icon
        >
      </button>
      <span class="example-fill-remaining-space"></span>
      <span class="user-text">Welcome Guest</span>
      <button class="mat-button">Logout/Login</button>
    </mat-toolbar>
    <div class="main-cont">content<router-outlet></router-outlet></div
  ></mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet> -->
<!-- <section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button color="warn" (click)="logout()">Logout</button>
  </div>
</section> -->
