<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign-UP</h1>
          <h4>Please Register here</h4>
        </div>
        <form>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                formControlName="name"
                class="form-control"
                name="name"
                id="name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                formControlName="email"
                required
                class="form-control"
                name="email"
                id="email"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                formControlName="password"
                required
                name="password"
                class="form-control"
                id="password"
              />
            </div>
            <div class="mb-3">
              <select class="mb-3" name="active" formControlName="active">
                <option>Select</option>
                <option value="true">Active</option>
                <option value="false">Not Active</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <a style="color: aliceblue" routerLink="/login"
            >Already Registered ? click to Login</a
          >
        </form>
      </div>
    </div>
  </div>
</div>
